/* 要素セレクター */
p {
  color: #333; /* 文字色を濃いグレーに */
  font-size: 18px; /* 文字サイズを18pxに */
  font-weight: bold; /* 文字を太字に */
  text-align: center; /* 中央揃え */
}

/* クラスセレクター */
.overview {
  color: #333; /* テキスト色を濃いグレーに */
  border-left: 4px solid #3498db; /* 左側に青線 */
  padding: 5px; /* 余白を5pxに */
  width: 80%;;
}

/* IDセレクター */
#firsttitle {
    color: #3498db; /* テキスト色を水色に */
    font-weight: bold; /* 太字 */
}

/* 子孫セレクター */
section p {
  background-color: #eee; /* 背景色を薄いグレーに */
}

/* 擬似クラス */
a:link {
  color: #0000ff; /* 通常時のテキスト色を青に */
}
a:hover {
  color: #ff0000; /* ホバー時のテキスト色を赤に */
}
a:visited {
  color: #999999; /* 訪問済のテキスト色をグレーに */
}

input[type="text"] {
    border: 1px solid gray;
}

* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #f0f0f0; /* 薄いグレーの背景 */
  background-image: url('background.jpg'); /* 背景画像を指定 */
}

/* 大きさの記法（ピクセル） */
h1 {
  font-size: 48px; /* 文字サイズを32pxに */
}

p.overview {
    color: red !important;
}
p {
    color: green;
}